button {
  background-color: hsl(265, 100%, 65%);
  border-radius: 3px;
  border-width: 2px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-family: "Work Sans";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0px 4px;
  padding: 5px 15px;
  text-align: center;
  display: block;
  margin-top: 16px;
  cursor: pointer;
  margin: 16px auto;
}

video {
  width: 500px;
  height: auto;
  display: block;
  margin: auto;
}

:root {
  --online-color: rgb(22, 211, 69);
  --offline-color: rgb(190, 48, 48);
}

.socket-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socket-status {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.socket-status.connected {
  background-color: var(--online-color);
}

.socket-status.disconnected {
  background-color: var(--offline-color);
}

#connectBtn {
  background-color: var(--online-color);
}

#disconnectBtn {
  background-color: var(--offline-color);
}

.socket-container>* {
  margin: 0 8px 0;

}